body {
  padding-top: 60px;
}

#cities{
	position: absolute;
	height: 0;
	width: 0;
	top: 0;
	left: 0;
}

.city{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: blue;
}

.city .city-name{
	position: relative;
	left: 30px;
	width: 200px;
}
