body {
  padding-top: 60px;
}

#cities{
	position: absolute;
	height: 0;
	width: 0;
	top: 0;
	left: 0;
}

#map img{
	margin: auto;
}

.city{
	position: absolute;
	font-size: 110%;
	/*width: 10em;
	background: rgba(255,255,255,0.7);*/
	height: 1em;
	width: 1em;
	text-align: center;
	margin: auto;
	background: rgba(255,255,255,0.6);
	box-shadow: 0 0 1em 1em rgba(255,255,255,0.6);
	border-radius: .5em;
	cursor: pointer;
	/*border-radius: 10px;
	background: blue;*/
}

.city .city-name{
}


/** UTILITIES **/
	
.panel.panel-no-top{
	/* This is handy when you have your tab content in a panel with the actual tabs above. */
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.img-center{
	text-align: center;
	margin: auto;
}
