body {
  padding-top: 60px;
}

#game-container{
	background: no-repeat center center;
	  -webkit-background-size: contain;
	  -moz-background-size: contain;
	  -o-background-size: contain;
	  background-size: contain;
}
