<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Methacton Electric Car Club (methactonecc.org)">

    <title>Energy Tycoon</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Energy Tycoon</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#main">Home</a></li>
            <li><a href="http://methactonecc.org">About us</a></li>
            <li><a href="http://icons8.com">icons8</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    	<div id="game-main" class="row">
    		<div id="map-container" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    			<div id="map"></div>
    			<div id="city-markers"></div>
    		</div>
    		<div id="city-view" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    		</div>
    		<div id="sidebar" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    			<div id="sidebar-stats"></div>

    			<hr>
    			
				<div id="sidebar-menu"></div>
    		</div>
    	</div>
    </div><!-- /.container -->
    
    
    <div id="templates" class="hidden">
    	<script id="template-map" type="text/template">
    		<img src="res/maps/resized/<%= regionSlug %>.png" class="img-responsive">
    	</script>
    	<script id="template-city-marker" type="text/template">
    		<%
    			var width = $('#map').width();
    			var height = $('#map').height();
    			cities.each(function(city){
    				var region = map.get('region');
    				if(region !== Regions.Nation && city.get('region').get('name') !== region.get('name')) return;
    				var coords;
    				if(region === Regions.Nation) coords = city.get('nationalCoords');
    				else coords = city.get('regionalCoords');
    				var x = coords[0] * width; //TODO adjust for citys width
    				var y = coords[1] * height;
    				var regionSlug = city.get('region').get('slug');
    				var name = city.get('name');
    				
    				var markerClass = 'lock';
    				if(city.get('owned') === true && city.get('headquarters') === true){
    					markerClass = 'home';
    				}
    				else if(city.get('owned') === true){
    					markerClass = 'map-marker';
    				}
    				%>
    				<div class="city city-<%=regionSlug%>" style="left:<%=x%>px;top:<%=y%>px" data-name="<%=name%>">
    					<span class="glyphicon glyphicon-<%=markerClass%> add-tooltip" title="<%=name%>"></span>
    					<!--<span class="city-name hidden-sm hidden-xs"><% print(city.get('name')); %></span>-->
    				</div>
    				<%
    			})
    		%>
    	</script>   
    	<script id="template-city" type="text/template">
			<h3 class="text-center"><%= city.name %></h3>
			
			<div class="row">
				<%
					var MAX_PLANTS = 3; //max plants per city
					for(var i=0; i<city.plants.size(); i++){
						//show info for this plant
						var plant = city.plants.at(i);
						%>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 panel">
								<div class="panel-body text-center">
									<img src="res/plants/<%=plant.get('slug')%>/100.png" class="img-responsive img-center">
									<h4 class=""><%=plant.get('plantName')%></h4>
									<h5>Level <%=plant.get('level')%></h5>
									
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											HP
										</div>
										<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="<%=plant.get('hp')%>" aria-valuemin="0" aria-valuemax="100" style="width:<%=plant.get('hp')%>%;"></div>					
											</div>												
										</div>									
									</div>
																		
									<div class="text-success">
										<span class="glyphicon glyphicon-usd"></span> 
										<%=accounting.formatNumber(plant.get('income'))%><span class="text-muted">/year</span>
									</div>
									<div class="text-info">
										<span class="glyphicon glyphicon-flash"></span> <%=plant.get('powerProduction')%> <span class="text-muted">GWh</span>
									</div>
									<br>
									<button class="btn btn-block btn-success">
										Upgrade<br>($<%=accounting.formatNumber(plant.get('constructionCost'))%>)
									</button>	
									<button class="btn btn-block btn-sm btn-danger destroy-plant" data-id="<%=plant.cid%>">
										Destroy<br>($<%=accounting.formatNumber(plant.getDestructionCost())%>)
									</button>				
								</div>
							</div>						
						<%
					}
					for(var j=city.plants.size(); j<MAX_PLANTS && j<city.plants.size()+1; j++){
						//fill the rest with "add" buttons; max 1 button
						%>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 panel">
							<div class="panel-body text-center">
								<button class="btn btn-lg btn-block btn-default btn-info" data-toggle="collapse" data-target="#add-plant-<%=j%>">
		    						<h2><span class="glyphicon glyphicon-plus"></span></h2>
		    						<h4>Add new plant</h4>    							
								</button>
								<br>
								<div id="add-plant-<%=j%>" class="list-group collapse">
									<% 
										stats.get('plants').forEach(function(plantType){
											//this is a kind of plant you can build
											if(city.plants)
											%>
												<a href="#" class="list-group-item text-center build-plant" data-name="<%=plantType.get('name')%>">
													<img src="res/plants/<%=plantType.get('slug')%>/32.png">
													<h4><%=plantType.get('plantName')%></h4>
													$<%=accounting.formatNumber(plantType.get('constructionCost'))%>
												</a>
											<%											
										});
									%>
								</div>
							</div>
						</div>  						
						<%
					}
				%>  				    				
			</div>    		
    	</script> 
    	<script id="template-stats" type="text/template">
			<h2>
				<span class="glyphicon glyphicon-flash"></span>
				Player
				<span class="pull-right text-info small">Year <%=stats.get('year')%></span>
			</h2>
			
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 lead">
					<span class="text-success">$<%=accounting.formatNumber(stats.get('money'))%></span>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<span class="text-success">$<%=accounting.formatNumber(stats.getIncome())%></span><span class="text-muted">/year</span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<span class="glyphicon glyphicon-flash"></span> <%=stats.getPower()%> GWh
				</div>
				<div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="<%=stats.getPowerPercent()%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=stats.getPowerPercent()%>%;">    						
					</div>
				</div>
			</div>		  
			
			<button class="btn btn-block btn-primary" id="next-year">
				<span class="glyphicon glyphicon-fast-forward"></span> Next year
			</button>		  		
    	</script>	
    	<script id="template-menu-national" type="text/template">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab-places" data-toggle="tab">Places</a>
				</li>
				<li>
					<a href="#tab-research" data-toggle="tab">Research</a>
				</li>
				<li>
					<a href="#tab-construction" data-toggle="tab">Construction</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="panel panel-default panel-no-top">
				<div class="panel-body">
					<div class="tab-content">
						<div class="tab-pane active" id="tab-places">
							<span class="glyphicon glyphicon-home"></span>
							Headquarters: 
							<% if(cities.getHeadquarters()) 
								print(cities.getHeadquarters().get('name')); %>
						</div>
						<div class="tab-pane" id="tab-research">
							<%
								var researchedPlantNames = stats.get('plants').pluck('name');
								Plants.forEach(function(plantType){
									if(_.contains(researchedPlantNames, plantType.get('name'))){
										//already researched!
										%>
										<li class="list-group-item list-group-item-success">
											<img src="res/plants/<%=plantType.get('slug')%>/32.png"> <%=plantType.get('powerName')%>
											<span class="pull-right hidden-sm hidden-xs">
												<span class="glyphicon glyphicon-ok"></span>
												<span class="text-muted">Researched</span>
											</span>
										</li>										
										<%
									}
									else{
										//button to research it
										%>
										<li class="list-group-item clearfix">
											<img src="res/plants/<%=plantType.get('slug')%>/32.png"> <%=plantType.get('powerName')%>
											<span class="pull-right">
												<button class="btn btn-default research-plant-type" data-name="<%=plantType.get('name')%>">
													<span class="glyphicon glyphicon-search"></span>
													Research<br>
													($<%=accounting.formatNumber(plantType.get('researchCost'))%>)
												</button>
											</span>
										</li>											
										<%
									}
								});
							%>
							<ul class="list-group">

								
							</ul>
						</div>
						<div class="tab-pane" id="tab-construction">
							<table class="table table-striped table-condensed">
								<tr>
									<td><img src="res/plants/fuelcell/32.png"> Fuel Cell</td>
									<td>Lv. 3</td>
									<td>Boston</td>
									<td>2 years left</td>
									<td><button class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-remove"></span>
									</button></td>
								</tr>
								<tr>
									<td><img src="res/plants/biomass/32.png"> Biomass</td>
									<td>Lv. 1</td>
									<td>Washington DC</td>
									<td>1 year left</td>
								</tr>									
							</table>
						</div>

					</div>
				</div>
			</div>    		
    	</script>
    	<script id="template-menu-regional" type="text/template">
			<div class="list-group" id="city-list">
				<%
					cities.where({ region: region }).forEach(function(city){
						//render some info for each of our cities in this region
						if(city.get('owned') === true){
						%>
							<a href="#city/<%=city.get('name')%>" class="list-group-item clearfix">
								
								<div>
			    					<h4 class="list-group-item-heading">
			    						<%=city.get('name')%>				
			    						<span class="pull-right">
			    							<% city.get('plants').forEach(function(plant){
			    								//print info about each plant
			    								%>
					    							<img src="res/plants/<%=plant.get('slug')%>/32.png">
			    								<%
			    							}) %>
				    					</span>
			    					</h4>
			    					<br class="clearfix">
			    					<p>
			    						<span class="pull-left">
			    							<span class="text-success">
			    								<span class="glyphicon glyphicon-usd"></span>
			    								<%= accounting.formatNumber(city.getIncome()) %></span><span class="text-muted">/year</span>
			    						</span>
			    						<span class="pull-right">
			    							<span class="text-info">
			    								<span class="glyphicon glyphicon-flash"></span>
			    								<%=city.getPower()%>
			    							</span>
			    							<span class="text-muted"> GWh</span>
			    						</span>	    						
			    					</p>    
			    					<br>						
								</div>
								
			
							</a>						
						<%
						}
						else{
							//unowned; show basic info & buying link
						%>
							<a class="list-group-item clearfix">
								<div>
			    					<h4 class="list-group-item-heading">
			    						<span class="glyphicon glyphicon-lock"></span>
			    						<%=city.get('name')%>				
			    					</h4>
			    					<button class="btn btn-primary pull-right add-city" data-name="<%=city.get('name')%>">
			    						<span class="glyphicon glyphicon-plus"></span>
			    						Expand to this city<br>
			    						($<%=accounting.formatNumber(city.get('expansionCost'))%>)
			    					</button>
								</div>
								
			
							</a>						
						<%							
						}
					});
				%>
			</div>
    	</script>   
    	<script id="template-menu-city" type="text/template">
    		<%
    			if(city.get('headquarters') === true){
    				%>
    				<h4><%=city.get('name')%> is your headquarters.</h4>
    				<%
    			}
    			else{
    				%>
		    		<button id="move-headquarters" class="btn btn-default">
		    			<span class="glyphicon glyphicon-home"></span> 
		    			Move headquarters to <%=city.get('name')%><br>
		    			($<%=accounting.formatNumber(city.getHeadquarterCost())%>)
		    		</button>    				
    				<%
    			}
    		%>

    	</script> 	
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
   <!-- <script src="lib/crafty-min.js"></script>-->
    
    <script src="src/plugins.js"></script>
    
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/backbone.localStorage.js"></script>
    <script src="lib/handlebars-v1.3.0.js"></script>
    
    <script src="src/utils.js"></script>       
    <script src="src/models.js"></script>
    <script src="src/enums.js"></script>     
    <script src="src/view.js"></script>
    <script src="src/main.js"></script>
    
  </body>
</html>
